.create_game_form{
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
    flex-flow: row wrap;
}

.create_name_input{
    margin: 20px;
}

.create_name_button{
    margin: 20px;
}

.snack-error{
    background-color: darkred;

}

.snack-success{
    background-color: green;
}

.message {
  display: flex;
  align-items: center;
}

.snack-icon{
    margin-right: 20px;
}
